---
import { Badge, Icon } from '@astrojs/starlight/components'
const rateMap = {
    r:'recommended',
    a:'alternative',
    o:'optional'
}

const BASE_URL = import.meta.env.BASE_URL

const bibMap = {
    // === central books ===
    nielsen: { badge: 'Libro', title: 'Quantum Computation and Quantum Information (Michael A. Nielsen; Isaac L. Chuang) [Inglés]', url: 'https://isbnsearch.org/isbn/9781107002173', target: '_blank' },
    oreilly: { badge: 'Libro', title: 'Programming Quantum Computers: Essential Algorithms and Code Samples (O\'Reilly Media) [Inglés]', url: 'https://isbnsearch.org/isbn/9781492039686', target: '_blank' },
    wong: { badge: 'Libro', title: 'Introduction to Classical and Quantum Computing (Thomas G. Wong) [Inglés]', url: 'https://isbnsearch.org/isbn/9798985593105', target: '_blank' },

    // === quantum soar series ===
    // -math-
    complexSoar: { badge: 'Video', title: 'Quantum Computing Course: 0.1 Introduction to Imaginary and Complex Numbers (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=8J-H7gbDCos', target: '_blank' },
    complexSoar2: { badge: 'Video', title: 'Quantum Computing Course: 0.2 Complex Numbers on the Number Plane (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=F7vHr7blzJ4', target: '_blank' },
    matricesSoar: { badge: 'Video', title: 'Quantum Computing Course: 0.3 Introduction to Matrices (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=7mcpxPyg8zo', target: '_blank' },
    matricesSoar2: { badge: 'Video', title: 'Quantum Computing Course: 0.4 Matrices as Transformations (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=yu0fMSyy3CY', target: '_blank' },
    // -qubit-
    qubitSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.1 Introduction to the Qubit and Superposition (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=urNWf4Ezisc', target: '_blank' },
    phaseSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.5 Introduction to Phase (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=uZD8BkMOSsM', target: '_blank' },
    notationSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.2 Introduction to Dirac Notation (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=RyPQL8lccx4', target: '_blank' },
    blochSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.3 Representing a Qubit on the Bloch Sphere (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=4EGY4ajn1Iw', target: '_blank' },
    // -gates-
    basicGatesSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.4 Manipulating a Qubit with Single Qubit Gates (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=01-3FzQwfCg', target: '_blank' },
    hadamardSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.6 The Hadamard Gate and the +, -, i and -i States (Quantum Soar) [Inglés]', url: 'https://youtu.be/G9d0QWM82sU?si=Gq7YR5iS1lEAZrl3', target: '_blank' },
    phaseGatesSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.7 The Phase Gates (S and T gates) (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=P0IuxwZxSTk', target: '_blank' },
    reversibilitySoar: { badge: 'Video', title: 'Quantum Computing Course: 3.2.A Classical Prerequisites (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=XMOzNNSKKzk', target: '_blank' },
    // -multiple-qubits-
    multipleQubitsSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.1 Representing Multiple Qubits (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=ZJKN8h6Vk2c', target: '_blank' },
    circuitsSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.2 Quantum Circuits (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=ctGWeHw410s', target: '_blank' },
    multiQubitGatesSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.3 Multi-Qubit Gates (CNOT, Toffoli, etc) (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=pFdO6gS9hBk', target: '_blank' },
    measureSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.4 Measuring Singular Qubits (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=s7o_BGgEupY', target: '_blank' },
    // -key-concepts-
    entanglementSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.5 Quantum Entanglement (Quantum Soar) [Inglés]', url: 'https://youtu.be/H3DC-hBuCSQ?si=N96LXGnsFjbBPke0', target: '_blank' },
    phaseKickbackSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.6 Phase Kickback (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=QI58lcgD9HI', target: '_blank' },
    superdenseSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.1 Superdense Coding (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=dAXdJpgiMDQ', target: '_blank' },
    quantumFunctionsSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.2.B Quantum Functions (Quantum Soar) [Inglés]', url: 'https://youtu.be/N3PhGaAZyoE?si=fV4-dSapDTsqU3HP', target: '_blank' },
    // -algorithms-
    deutschSoar: { badge: 'Video', title: 'Deutsch\'s Algorithm: An Introduction to Quantum Computing Oracles (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=7MdEHsRZxvo', target: '_blank' },
    deutschJozsaSoar: { badge: 'Video', title: 'Deutsch-Jozsa Algorithm: Exponential Speedup on a Quantum Computer! (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=jfJckA7Amik', target: '_blank' },
    bernsteinVaziraniSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.5 Bernstein-Vazarani Algorithm (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=a-w1NiXd3ps', target: '_blank' },
    qftSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.6 Quantum Fourier Transform (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=svSxHaDYHC0', target: '_blank' },
    phaseEstimationSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.7 Quantum Phase Estimation (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=Ex96GyRIFes', target: '_blank' },
    shorSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.8 Shor\'s Algorithm (Quantum Soar) [Inglés]', url: 'https://youtu.be/5_56TXtFVK4?si=96Uj9Lbv5hEv_WVY', target: '_blank' },

    // === qiskit understanding quantum computing series ===
    qubitQiskit : { badge: 'Video', title: 'Single Systems | Understanding Quantum Information & Computation - Lesson 01 (Qiskit) [Inglés]', url: 'https://youtu.be/3-c4xJa7Flk?si=2vII1lYAdcwAIOSr', target: '_blank' },
    multipleQubitsQiskit : { badge: 'Video', title: 'Multiple Systems | Understanding Quantum Information & Computation - Lesson 02 (Qiskit) [Inglés]', url: 'https://youtu.be/DfZZS8Spe7U?si=DSAA5RMiQ3TGO5iH', target: '_blank' },
    circuitsQiskit : { badge: 'Video', title: 'Quantum Circuits | Understanding Quantum Information & Computation - Lesson 03 (Qiskit) [Inglés]', url: 'https://youtu.be/30U2DTfIrOU?si=0HfJ9Wnz14ffGxZ4', target: '_blank' },
    entanglementQiskit : { badge: 'Video', title: 'Entanglement in Action | Understanding Quantum Information & Computation - Lesson 04 (Qiskit) [Inglés]', url: 'https://youtu.be/GSsElSQgMbU?si=FDcYzG8LTZ94iPE4', target: '_blank' },
    queryAlgorithmsQiskit: { badge: 'Video', title: 'Quantum Query Algorithms | Understanding Quantum Information & Computation - Lesson 05 (Qiskit) [Inglés]', url: 'https://youtu.be/2wticzHE1vs?si=5BOTxZAOeRSqo6JQ', target: '_blank' },
    shorQiskit: { badge: 'Video', title: 'Phase Estimation and Factoring | Understanding Quantum Information & Computation - Lesson 07 (Qiskit) [Inglés]', url: 'https://youtu.be/4nT0BTUxhJY?si=BFTyCdceV8waZuUH', target: '_blank' },
    groverQiskit: { badge: 'Video', title: 'Grover\'s Algorithm | Understanding Quantum Information & Computation - Lesson 08 (Qiskit) [Inglés]', url: 'https://youtu.be/hnpjC8WQVrQ?si=OuPZ-7RSEFg9sJ41', target: '_blank' },

    // === quantum country ===
    groverQC: { badge: 'Libro', title: 'How the quantum search algorithm works (Quantum Country) [Inglés]', url: 'https://quantum.country/grover', target: '_blank' },

    // === ours/wiki ===
    qubitWiki: { badge: 'Wiki', title: 'El Cubit (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/qubit`, target: '_self' },
    xAxisWiki: { badge: 'Wiki', title: 'Puertas en eje X (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/x-axis`, target: '_self' },
    yAxisWiki: { badge: 'Wiki', title: 'Puertas en eje Y (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/y-axis`, target: '_self' },
    zAxisWiki: { badge: 'Wiki', title: 'Puertas en eje Z (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/z-axis`, target: '_self' },
    hadamardWiki: { badge: 'Wiki', title: 'Puerta Hadamard (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/hadamard`, target: '_self' },
    multipleQubitsWiki: { badge: 'Wiki', title: 'Múltiples Qubits (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/qubit#representación-de-múltiples-qubits`, target: '_self' },
    phaseKickbackWiki: { badge: 'Wiki', title: 'Retroceso de fase (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/phase-kickback`, target: '_self' },
    oraclesWiki: { badge: 'Wiki', title: 'Oráculos (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/oracles`, target: '_self' },
    superdenseWiki: { badge: 'Wiki', title: 'Codificación superdensa (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/superdense-coding`, target: '_self' },
    teleportationWiki: { badge: 'Wiki', title: 'Teleportación cuántica (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/teleportation`, target: '_self' },
    noCloningWiki: { badge: 'Wiki', title: 'Teorema de no clonación (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/no-cloning-theorem`, target: '_self' },
    uncomputationWiki: { badge: 'Wiki', title: 'Descomputación (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/uncomputation`, target: '_self' },
    deutschWiki: { badge: 'Wiki', title: 'Algoritmo de Deutsch-Jozsa (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/deutsch-jozsa`, target: '_self' },
    bernsteinVaziraniWiki: { badge: 'Wiki', title: 'Algoritmo de Bernstein-Vazirani (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/bernstein-vazirani`, target: '_self' },
    groverWiki: { badge: 'Wiki', title: 'Algoritmo de Grover (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/grover`, target: '_self' },
    amplitudeAmplificationWiki: { badge: 'Wiki', title: 'Amplificación de amplitudes (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/amplitude-amplification`, target: '_self' },
    fourierTransformWiki: { badge: 'Wiki', title: 'Transformada de Fourier cuántica (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/fourier-transform`, target: '_self' },
    phaseEstimationWiki: { badge: 'Wiki', title: 'Estimación de fase (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/phase-estimation`, target: '_self' },
    shorWiki: { badge: 'Wiki', title: 'Algoritmo de Shor (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/shor`, target: '_self' },
}
type BibItemType = keyof typeof bibMap
type RateType = keyof typeof rateMap
type AstroProps = {
    id: BibItemType;
    rate: RateType;
    prefix?: string
}
const { id, rate, prefix = '' } = Astro.props as AstroProps
const colorClass = rateMap[rate];
const { title, badge, url, target } = bibMap[id]
---
<style>
.Video, .Libro, .Wiki {
    min-width: 50px;
    text-align: center;
}
.Libro {
    background: var(--sl-color-accent-low);
    color: var(--sl-color-white);
}
.Video {
    background: var(--sl-color-accent);
    color: white;
}
.Wiki {
    background: var(--sl-color-accent-high);
    color: var(--sl-color-accent-low);
}
a {
    text-decoration: none;
}
.flex-center{
      display:flex;
      justify-content:start;
      align-items:center;
      gap: 0.5rem;
}
.recommended, .alternative, .optional {
    border-radius:50%;
    min-width:fit-content;
}
.recommended {
    background: #874EFE;
}
.alternative {
    background: #4F7A28;
}
.optional {
    background: #929292;
}
</style>


<div class="flex-center">
    <Icon name="approve-check" class={colorClass} color="white" />
    <Badge text={badge} class={badge} />
    <div>{prefix}<a href={url} target={target}>{title}</a></div>
</div>
