---
import { Badge, Icon } from '@astrojs/starlight/components'
const rateMap = {
    r:'recommended',
    a:'alternative',
    o:'optional'
}

const BASE_URL = import.meta.env.BASE_URL

const bibMap = {
    // === central books ===
    nielsen: { badge: 'Libro', title: 'Quantum Computation and Quantum Information (Michael A. Nielsen; Isaac L. Chuang) [Inglés]', url: 'https://isbnsearch.org/isbn/9781107002173', target: '_blank' },
    oreilly: { badge: 'Libro', title: 'Programming Quantum Computers: Essential Algorithms and Code Samples (O\'Reilly Media) [Inglés]', url: 'https://isbnsearch.org/isbn/9781492039686', target: '_blank' },
    wong: { badge: 'Libro', title: 'Introduction to Classical and Quantum Computing (Thomas G. Wong) [Inglés]', url: 'https://www.thomaswong.net/introduction-to-classical-and-quantum-computing-1e4p.pdf', target: '_blank' },

    // === quantum soar series ===
    // -math-
    complexSoar: { badge: 'Video', title: 'Quantum Computing Course: 0.1 Introduction to Imaginary and Complex Numbers (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=8J-H7gbDCos', target: '_blank' },
    complexSoar2: { badge: 'Video', title: 'Quantum Computing Course: 0.2 Complex Numbers on the Number Plane (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=F7vHr7blzJ4', target: '_blank' },
    matricesSoar: { badge: 'Video', title: 'Quantum Computing Course: 0.3 Introduction to Matrices (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=7mcpxPyg8zo', target: '_blank' },
    matricesSoar2: { badge: 'Video', title: 'Quantum Computing Course: 0.4 Matrices as Transformations (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=yu0fMSyy3CY', target: '_blank' },
    // -cubit-
    cubitSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.1 Introduction to the Qubit and Superposition (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=urNWf4Ezisc', target: '_blank' },
    phaseSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.5 Introduction to Phase (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=uZD8BkMOSsM', target: '_blank' },
    notationSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.2 Introduction to Dirac Notation (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=RyPQL8lccx4', target: '_blank' },
    blochSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.3 Representing a Qubit on the Bloch Sphere (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=4EGY4ajn1Iw', target: '_blank' },
    // -gates-
    basicGatesSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.4 Manipulating a Qubit with Single Qubit Gates (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=01-3FzQwfCg', target: '_blank' },
    hadamardSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.6 The Hadamard Gate and the +, -, i and -i States (Quantum Soar) [Inglés]', url: 'https://youtu.be/G9d0QWM82sU?si=Gq7YR5iS1lEAZrl3', target: '_blank' },
    phaseGatesSoar: { badge: 'Video', title: 'Quantum Computing Course: 1.7 The Phase Gates (S and T gates) (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=P0IuxwZxSTk', target: '_blank' },
    reversibilitySoar: { badge: 'Video', title: 'Quantum Computing Course: 3.2.A Classical Prerequisites (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=XMOzNNSKKzk', target: '_blank' },
    // -multiple-cubits-
    multipleCubitsSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.1 Representing Multiple Qubits (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=ZJKN8h6Vk2c', target: '_blank' },
    circuitsSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.2 Quantum Circuits (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=ctGWeHw410s', target: '_blank' },
    multiCubitGatesSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.3 Multi-Qubit Gates (CNOT, Toffoli, etc) (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=pFdO6gS9hBk', target: '_blank' },
    measureSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.4 Measuring Singular Qubits (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=s7o_BGgEupY', target: '_blank' },
    // -key-concepts-
    entanglementSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.5 Quantum Entanglement (Quantum Soar) [Inglés]', url: 'https://youtu.be/H3DC-hBuCSQ?si=N96LXGnsFjbBPke0', target: '_blank' },
    phaseKickbackSoar: { badge: 'Video', title: 'Quantum Computing Course: 2.6 Phase Kickback (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=QI58lcgD9HI', target: '_blank' },
    superdenseSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.1 Superdense Coding (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=dAXdJpgiMDQ', target: '_blank' },
    quantumFunctionsSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.2.B Quantum Functions (Quantum Soar) [Inglés]', url: 'https://youtu.be/N3PhGaAZyoE?si=fV4-dSapDTsqU3HP', target: '_blank' },
    // -algorithms-
    deutschSoar: { badge: 'Video', title: 'Deutsch\'s Algorithm: An Introduction to Quantum Computing Oracles (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=7MdEHsRZxvo', target: '_blank' },
    deutschJozsaSoar: { badge: 'Video', title: 'Deutsch-Jozsa Algorithm: Exponential Speedup on a Quantum Computer! (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=jfJckA7Amik', target: '_blank' },
    bernsteinVaziraniSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.5 Bernstein-Vazarani Algorithm (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=a-w1NiXd3ps', target: '_blank' },
    qftSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.6 Quantum Fourier Transform (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=svSxHaDYHC0', target: '_blank' },
    phaseEstimationSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.7 Quantum Phase Estimation (Quantum Soar) [Inglés]', url: 'https://www.youtube.com/watch?v=Ex96GyRIFes', target: '_blank' },
    shorSoar: { badge: 'Video', title: 'Quantum Computing Course: 3.8 Shor\'s Algorithm (Quantum Soar) [Inglés]', url: 'https://youtu.be/5_56TXtFVK4?si=96Uj9Lbv5hEv_WVY', target: '_blank' },

    // === qiskit understanding quantum computing series ===
    cubitQiskit : { badge: 'Video', title: 'Single Systems | Understanding Quantum Information & Computation - Lesson 01 (Qiskit) [Inglés]', url: 'https://youtu.be/3-c4xJa7Flk?si=2vII1lYAdcwAIOSr', target: '_blank' },
    multipleCubitsQiskit : { badge: 'Video', title: 'Multiple Systems | Understanding Quantum Information & Computation - Lesson 02 (Qiskit) [Inglés]', url: 'https://youtu.be/DfZZS8Spe7U?si=DSAA5RMiQ3TGO5iH', target: '_blank' },
    circuitsQiskit : { badge: 'Video', title: 'Quantum Circuits | Understanding Quantum Information & Computation - Lesson 03 (Qiskit) [Inglés]', url: 'https://youtu.be/30U2DTfIrOU?si=0HfJ9Wnz14ffGxZ4', target: '_blank' },
    entanglementQiskit : { badge: 'Video', title: 'Entanglement in Action | Understanding Quantum Information & Computation - Lesson 04 (Qiskit) [Inglés]', url: 'https://youtu.be/GSsElSQgMbU?si=FDcYzG8LTZ94iPE4', target: '_blank' },
    queryAlgorithmsQiskit: { badge: 'Video', title: 'Quantum Query Algorithms | Understanding Quantum Information & Computation - Lesson 05 (Qiskit) [Inglés]', url: 'https://youtu.be/2wticzHE1vs?si=5BOTxZAOeRSqo6JQ', target: '_blank' },
    shorQiskit: { badge: 'Video', title: 'Phase Estimation and Factoring | Understanding Quantum Information & Computation - Lesson 07 (Qiskit) [Inglés]', url: 'https://youtu.be/4nT0BTUxhJY?si=BFTyCdceV8waZuUH', target: '_blank' },
    groverQiskit: { badge: 'Video', title: 'Grover\'s Algorithm | Understanding Quantum Information & Computation - Lesson 08 (Qiskit) [Inglés]', url: 'https://youtu.be/hnpjC8WQVrQ?si=OuPZ-7RSEFg9sJ41', target: '_blank' },
    phaseEstimationQiskit : { badge: 'Otros', title: 'Quantum Phase Estimation - Qiskit Textbook (Qiskit) [Inglés]', url: 'https://github.com/qiskit-community/qiskit-textbook/blob/main/content/ch-algorithms/quantum-phase-estimation.ipynb', target: '_blank' },

    // === elucyda ===
    dftElucyda: { badge: 'Video', title: 'Quantum Fourier Transform, Tensor Product Representation, Analogy with Discrete Fourier Transform (Elucyda) [Inglés]', url: 'https://www.youtube.com/watch?v=EtBfGstwioQ', target: '_blank' },
    qftElucyda: { badge: 'Video', title: 'Inverse n-qubit Quantum Fourier Transform and Phase Estimation Quantum Circuit (Elucyda) [Inglés]', url: 'https://youtu.be/3DeQeYZ0EjI?si=PxkpKSzDD8MjR_Zp', target: '_blank' },
    shorElucyda: { badge: 'Video', title: 'Quantum Order-Finding Subroutine of Shor\'s Factoring Algorithm, Phase Estimation Quantum Circuit (Elucyda) [Inglés]', url: 'https://youtu.be/lw0R2SOmLTw?si=oK9NMn8d6AQyKXlI', target: '_blank' },

    // === quantum country ===
    groverQC: { badge: 'Otros', title: 'How the quantum search algorithm works (Quantum Country) [Inglés]', url: 'https://quantum.country/grover', target: '_blank' },

    // === wikipedia ===
    aliceAndBobNotes: { badge: 'Otros', title: 'Alice y Bob (Wikipedia) [Español]', url: 'https://es.wikipedia.org/wiki/Alice_y_Bob', target: '_blank' },
    qftNotes: { badge: 'Otros', title: 'Transformada cuántica de Fourier (Wikipedia) [Español]', url: 'https://es.wikipedia.org/wiki/Transformada_cu%C3%A1ntica_de_Fourier', target: '_blank' },
    phaseEstimationNotes: { badge: 'Otros', title: 'Algoritmo cuántico de estimación de fase (Wikipedia) [Español]', url: 'https://es.wikipedia.org/wiki/Algoritmo_cu%C3%A1ntico_de_estimaci%C3%B3n_de_fase', target: '_blank' },
    holevoNotes: { badge: 'Otros', title: 'Holevo\'s theorem (Wikipedia) [Inglés]', url: 'https://en.wikipedia.org/wiki/Holevo%27s_theorem', target: '_blank' },
    continuedFractionsNotes: { badge: 'Otros', title: 'Fracción continua generalizada (Wikipedia) [Español]', url: 'https://es.wikipedia.org/wiki/Fracci%C3%B3n_continua_generalizada', target: '_blank' },

    // === Cambridge ===
    deutschJozsaCambridge: { badge: 'Otros', title: 'Quantum Computing (CST Part II) | Lecture 7: Deutsch-Jozsa algorithm (Cambridge) [Inglés]', url: 'https://www.cl.cam.ac.uk/teaching/1920/QuantComp/Quantum_Computing_Lecture_7.pdf', target: '_blank' },
    teleportationCambridge: { badge: 'Otros', title: 'Quantum Computing (CST Part II) | Lecture 6: Some Applications of Quantum Information (Cambridge) [Inglés]', url: 'https://www.cl.cam.ac.uk/teaching/1920/QuantComp/Quantum_Computing_Lecture_6.pdf', target: '_blank' },
    qftCambridge: { badge: 'Otros', title: 'Quantum Computing (CST Part II) | Lecture 9: Quantum Fourier Transform & Quantum Phase Estimation (Cambridge) [Inglés]', url: 'https://www.cl.cam.ac.uk/teaching/1920/QuantComp/Quantum_Computing_Lecture_9.pdf', target: '_blank' },
    shorCambridge: { badge: 'Otros', title: 'Quantum Computing (CST Part II) | Lecture 10: Application 1 of QFT / QPE: Factoring (Cambridge) [Inglés]', url: 'https://www.cl.cam.ac.uk/teaching/1920/QuantComp/Quantum_Computing_Lecture_10.pdf', target: '_blank' },

    // === Papers ===
    dJozsaCaoLiuPaper: { badge: 'Paper', title: 'Analysis of Deutsch-Jozsa Quantum Algorithm (Zhengjun Cao; Lihua Liu) [Inglés]', url: 'https://eprint.iacr.org/2018/249.pdf', target: '_blank' },
    amplitudeAmplificationPaper: { badge: 'Paper', title: 'Quantum Amplitude Amplification and Estimation (Gilles Brassard; Peter Høyer; Michele Mosca; Alain Tapp) [Inglés]', url: 'https://arxiv.org/pdf/quant-ph/0005055.pdf', target: '_blank' },
    groverPaper: { badge: 'Paper', title: 'A fast quantum mechanical algorithm for database search (Lov K. Grover) [Inglés]', url: 'https://arxiv.org/pdf/quant-ph/9605043.pdf', target: '_blank' },
    factoringGidneyPaper: { badge: 'Paper', title: 'Factoring with n + 2 clean qubits and n − 1 dirty qubits (Craig Gidney) [Inglés]', url: 'https://arxiv.org/pdf/1706.07884.pdf', target: '_blank' },
    shorBeauregardPaper: { badge: 'Paper', title: 'Circuit for Shor’s algorithm using 2n+3 qubits (Stáphane Beauregard) [Inglés]', url: 'https://arxiv.org/pdf/quant-ph/0205095.pdf', target: '_blank' },

    // === others === 
    dJozsaSentdex: { badge: 'Video', title: 'Deutsch Jozsa Algorithm - Quantum Computer Programming w/ Qiskit p.3 (sentdex) [Inglés]', url: 'https://youtu.be/_BHvE_pwF6E?si=mg6nYrRbRtzRecEh', target: '_blank' },
    phaseOracleFerrie: { badge: 'Video', title: 'Consulting the (phase) oracle (Chris Ferrie) [Inglés]', url: 'https://www.youtube.com/watch?v=eE7eumEZOSE', target: '_blank' },
    shorGidney: { badge: 'Otros', title: 'Shor\'s Quantum Factoring Algorithm (Craig Gidney) [Inglés]', url: 'https://algassert.com/post/1718', target: '_blank' },
    modularExponentiationSarkarChatter: { badge: 'Otros', title: 'Quantum Circuit of Modular Exponentiation in Qiskit (Writika Sarkar; Soham Chatterjee; Shree Ganesh SJ) [Inglés]', url: 'https://github.com/bluecheese123/QME', target: '_blank' },
    shorMaiaLeao: { badge: 'Otros', title: 'Implementation Shor\'s Algorithm in Qiskit (Rui Maia; Tiago Leao) [Inglés]', url: 'https://github.com/tiagomsleao/ShorAlgQiskit/tree/master', target: '_blank' },
    shorQiskitImpl: { badge: 'Otros', title: 'Shor\'s factoring algorithm implementation (Qiskit) [Inglés]', url: 'https://github.com/Qiskit/qiskit/blob/stable/0.18/qiskit/algorithms/factorizers/shor.py', target: '_blank' },
    shorQiskitNotebook: { badge: 'Otros', title: 'Shor\'s algorithm python notebook (Qiskit) [Inglés]', url: 'https://github.com/Qiskit/textbook/blob/main/notebooks/ch-algorithms/shor.ipynb', target: '_blank' },  
    phaseJuweria: { badge: 'Otros', title: 'Global Phase and Relative phase (juweria) [Inglés]', url: 'https://www.quantumgrad.com/article/676', target: '_blank' },
    circuitsMicrosoft: { badge: 'Otros', title: 'Explore quantum - Quantum circuits (Microsoft) [Inglés]', url: 'https://quantum.microsoft.com/en-us/insights/education/concepts/quantum-circuits', target: '_blank' },
    phaseKickbackQiskitNotebook: { badge: 'Otros', title: 'Phase Kickback (Qiskit) [Inglés]', url: 'https://github.com/Qiskit/textbook/blob/main/notebooks/ch-gates/phase-kickback.ipynb', target: '_blank' },
    phaseKickbackClassiq: { badge: 'Otros', title: 'Phase Kickback (Classiq) [Inglés]', url: 'https://docs.classiq.io/latest/classiq_101/quantum_primitives_with_classiq/phase_kickback/', target: '_blank' },
    oraclesMicrosoft: { badge: 'Otros', title: 'Understanding quantum oracles (Microsoft) [Inglés]', url: 'https://learn.microsoft.com/en-us/azure/quantum/concepts-oracles', target: '_blank' },

    // === ours/wiki ===
    qubitWiki: { badge: 'Wiki', title: 'El Cubit (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/qubit`, target: '_self' },
    xAxisWiki: { badge: 'Wiki', title: 'Puertas en eje X (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/x-axis`, target: '_self' },
    yAxisWiki: { badge: 'Wiki', title: 'Puertas en eje Y (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/y-axis`, target: '_self' },
    zAxisWiki: { badge: 'Wiki', title: 'Puertas en eje Z (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/z-axis`, target: '_self' },
    hadamardWiki: { badge: 'Wiki', title: 'Puerta Hadamard (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/hadamard`, target: '_self' },
    multipleCubitsWiki: { badge: 'Wiki', title: 'Múltiples Cubits (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/qubit#representación-de-múltiples-cubits`, target: '_self' },
    cnotWiki: { badge: 'Wiki', title: 'Puerta CNOT (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/cnot`, target: '_self' },
    swapWiki: { badge: 'Wiki', title: 'Puerta SWAP (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/swap`, target: '_self' },
    phaseKickbackWiki: { badge: 'Wiki', title: 'Retroceso de fase (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/phase-kickback`, target: '_self' },
    entanglementWiki: { badge: 'Wiki', title: 'Entrelazamiento (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/entanglement`, target: '_self' },
    oraclesWiki: { badge: 'Wiki', title: 'Oráculos (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/oracles`, target: '_self' },
    superdenseWiki: { badge: 'Wiki', title: 'Codificación superdensa (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/superdense-coding`, target: '_self' },
    teleportationWiki: { badge: 'Wiki', title: 'Teleportación cuántica (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/teleportation`, target: '_self' },
    noCloningWiki: { badge: 'Wiki', title: 'Teorema de no clonación (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/no-cloning-theorem`, target: '_self' },
    uncomputationWiki: { badge: 'Wiki', title: 'Descomputación (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/uncomputation`, target: '_self' },
    deutschWiki: { badge: 'Wiki', title: 'Algoritmo de Deutsch-Jozsa (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/deutsch-jozsa`, target: '_self' },
    bernsteinVaziraniWiki: { badge: 'Wiki', title: 'Algoritmo de Bernstein-Vazirani (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/bernstein-vazirani`, target: '_self' },
    groverWiki: { badge: 'Wiki', title: 'Algoritmo de Grover (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/grover`, target: '_self' },
    amplitudeAmplificationWiki: { badge: 'Wiki', title: 'Amplificación de amplitudes (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/amplitude-amplification`, target: '_self' },
    fourierTransformWiki: { badge: 'Wiki', title: 'Transformada de Fourier cuántica (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/fourier-transform`, target: '_self' },
    phaseEstimationWiki: { badge: 'Wiki', title: 'Estimación de fase (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/phase-estimation`, target: '_self' },
    shorWiki: { badge: 'Wiki', title: 'Algoritmo de Shor (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/shor`, target: '_self' },
}
type BibItemType = keyof typeof bibMap
type RateType = keyof typeof rateMap
type AstroProps = {
    id: BibItemType;
    rate: RateType;
    prefix?: string
}
const { id, rate, prefix = '' } = Astro.props as AstroProps
const colorClass = rateMap[rate];
const { title, badge, url, target } = bibMap[id]
---
<style>
.Video, .Libro, .Wiki, .Paper, .Otros {
    min-width: 55px;
    text-align: center;
}
.Libro {
    background: var(--sl-color-accent-low);
    color: var(--sl-color-white);
}
.Video {
    background: var(--sl-color-accent);
    color: white;
}
.Wiki {
    background: var(--sl-color-accent-high);
    color: var(--sl-color-accent-low);
}
.Paper {
    background: var(--sl-color-gray-2);
    border: 1px solid var(--sl-color-gray-5);
    color: var(--sl-color-black);
}
.Otros {
    background: var(--sl-color-gray-5);
    border: 1px solid var(--sl-color-gray-2);
    color: var(--sl-color-white);
}
a {
    text-decoration: none;
}
.flex-center{
      display:flex;
      justify-content:start;
      align-items:center;
      gap: 0.5rem;
}
.recommended, .alternative, .optional {
    border-radius:50%;
    min-width:fit-content;
}
.recommended {
    background: #874EFE;
}
.alternative {
    background: #4F7A28;
}
.optional {
    background: #929292;
}
</style>


<div class="flex-center">
    <Icon name="approve-check" class={colorClass} color="white" />
    <Badge text={badge} class={badge} />
    <div>{prefix}<a href={url} target={target}>{title}</a></div>
</div>
