---
const {prob, phase, width, label} = Astro.props
const size=40
const radius = size * Math.sqrt(prob)
---
<div style="margin:0">
    <svg width={width} height={width} style="margin:0; ">
      <g transform={`translate(${ width / 2}, ${width/2})`}>
        <circle cx="0" cy="0" r=`${size}` fill={'white'} stroke="black" stroke-width="2" />
        <circle cx="0" cy="0" r={`${radius}`} fill={'rgb(184,204,228)'} />
        <line x1="0" y1="0" x2={radius * Math.cos(-phase * Math.PI / 180)} y2={radius * Math.sin(-phase * Math.PI / 180)} stroke="rgb(4, 141, 212)" stroke-width="2" />
        <line x1="0" y1="0" x2={size * Math.cos(-phase * Math.PI / 180)} y2={size * Math.sin(-phase * Math.PI / 180)} stroke="rgba(20,20,20,0.3)" stroke-width="1" />
      </g>
    </svg>
    <div style="height:5px; margin:0px; margin-top:-20px">
    $${label}$$
    </div>
</div>
