---
import { Icon } from '@astrojs/starlight/components'

const BASE_URL = import.meta.env.BASE_URL

const contentMap = {
    qubitWiki: { title: 'El Cubit (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/qubit`, target: '_self' },
    xAxisWiki: { title: 'Puertas en eje X (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/x-axis`, target: '_self' },
    yAxisWiki: { title: 'Puertas en eje Y (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/y-axis`, target: '_self' },
    zAxisWiki: { title: 'Puertas en eje Z (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/z-axis`, target: '_self' },
    hadamardWiki: { title: 'Puerta Hadamard (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/hadamard`, target: '_self' },
    multipleCubitsWiki: { title: 'Múltiples Cubits (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/qubit#representación-de-múltiples-cubits`, target: '_self' },
    cnotWiki: { title: 'Puerta CNOT (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/cnot`, target: '_self' },
    swapWiki: { title: 'Puerta SWAP (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/swap`, target: '_self' },
    phaseKickbackWiki: { title: 'Retroceso de fase (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/phase-kickback`, target: '_self' },
    entanglementWiki: { title: 'Entrelazamiento (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/entanglement`, target: '_self' },
    oraclesWiki: { title: 'Oráculos (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/oracles`, target: '_self' },
    superdenseWiki: { title: 'Codificación superdensa (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/superdense-coding`, target: '_self' },
    teleportationWiki: { title: 'Teleportación cuántica (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/teleportation`, target: '_self' },
    noCloningWiki: { title: 'Teorema de no clonación (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/no-cloning-theorem`, target: '_self' },
    uncomputationWiki: { title: 'Descomputación (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/concepts/uncomputation`, target: '_self' },
    deutschWiki: { title: 'Algoritmo de Deutsch-Jozsa (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/deutsch-jozsa`, target: '_self' },
    bernsteinVaziraniWiki: { title: 'Algoritmo de Bernstein-Vazirani (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/bernstein-vazirani`, target: '_self' },
    groverWiki: { title: 'Algoritmo de Grover (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/grover`, target: '_self' },
    amplitudeAmplificationWiki: { title: 'Amplificación de amplitudes (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/amplitude-amplification`, target: '_self' },
    fourierTransformWiki: { title: 'Transformada de Fourier cuántica (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/fourier-transform`, target: '_self' },
    phaseEstimationWiki: { title: 'Estimación de fase (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/primitives/phase-estimation`, target: '_self' },
    shorWiki: { title: 'Algoritmo de Shor (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/algorithms/shor`, target: '_self' },
    quantumGatesWiki: { title: 'Puertas cuánticas (Facundo Tomatis, Facundo Miglierini) [Español]', url: `${BASE_URL}/gates/introduction`, target: '_self' },
}
type ContentItemType = keyof typeof contentMap
type AstroProps = {
    id: ContentItemType;
}
const { id } = Astro.props as AstroProps
const { title, url, target } = contentMap[id]
---
<style>
a {
    text-decoration: none;
}
.flex-center{
      display:flex;
      justify-content:start;
      align-items:center;
      gap: 0.5rem;
}
</style>


<div class="flex-center">
    <div><a href={url} target={target}>{title}</a></div>
</div>
